---
layout: default
---

  {% include home.html %}

  <section class="row fullWidth">
	<img class="bg" src="{{site.baseurl}}/assets/bg_praying.png" />
  </section>

  {% include about.html %}

  {% include trailer.html %}

  <section class="row fullWidth">
	<img class="bg" src="{{site.baseurl}}/assets/Sa'ad Banadir Exit_lo.jpg" />
  </section>

  {% include team.html %}

  {% include stills.html %}

  {% include press.html %}

  {% include contact.html %}

  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->

