<section class="about row fullWidth">
	<a class="anchor" name="about"></a>
	<!-- <img class="bg" src="/assets/bg_about.png" /> -->
	<!-- <h1 class="page-heading">Home section</h1> -->
	<div class="row">
		<div class="large-10 large-offset-1 columns">
			<h1>ABOUT</h1>
		</div>
	</div>
	<div class="row">
		<div class="large-8 large-offset-2 columns">
			<h3>To the world, they evoke images of terror. To their countrymen, they are transformational athletes. To their families, they are a lifeline. The unforgettable story of two Somalia national football team friends chasing their dreams in the face of impossible odds.</h3>
		</div>
	</div>
</section>