<section class="about row fullWidth">
	<a class="anchor" name="about"></a>
	<!-- <img class="bg" src="/assets/bg_about.png" /> -->
	<!-- <h1 class="page-heading">Home section</h1> -->
	<div class="row">
		<div class="large-10 large-offset-1 columns">
			<h1>ABOUT</h1>
		</div>
	</div>
	<div class="row">
		<div class="large-8 large-offset-2 columns synopsis">
			<h2>We believe for the first time in 25 years Somalia is on the precipice of peace, but to get them over the hump, they need to know the world cares and supports their efforts. Men In The Arena is the unforgettable story of two Somalia National Football Team friends born at the start of the civil war. It’s a survival story, a human rights story, and a rare sports journey principally shot and produced in Kenya, Somalia, and the United States. For over two years we have worked to capture this Somali story through the eyes of footballing friends bound by a shared dream to inspire their countryman. What happens to them is nothing short of miraculous. Our hope is that this film will, for the first time, shine a positive light on Somalia and illuminate the potential of dreamers to inspire a generation.</h2>
		</div>
	</div>
</section>