<section class="about row fullWidth">
	<a class="anchor" name="about"></a>
	<!-- <img class="bg" src="/assets/bg_about.png" /> -->
	<!-- <h1 class="page-heading">Home section</h1> -->
	<div class="row">
		<div class="large-10 large-offset-1 columns">
			<h1>ABOUT</h1>
		</div>
	</div>
	<div class="row sectionBody">
		<div class="row quote">
			<div class="large-12 columns">
				<h2>"If people come together they can even mend a crack in the sky."</h2>
			</div>
		</div>
		<div class="row byline">
			<div class="small-6 small-offset-7 columns">
				<span>- Somali Proverb</span>
			</div>
		</div>

		<div class="row synopsis">
			<div class="large-8 large-offset-2 columns">	
				<h2>We believe for the first time in 25 years, Somalia is on the precipice of peace, but to sustain their recovery, they need to know the world cares and supports their efforts. Men In The Arena is the unforgettable story of two Somalia National Football Team friends born at the start of the civil war. It’s a survival story, a human rights story, and a rare sports journey principally shot and produced in Kenya, Somalia, and the United States. For over two years, we have worked to capture the Somali story through the eyes of footballing friends bound by a shared dream to inspire their countrymen. What happens to them is nothing short of miraculous. Our hope is that this film will begin to illuminate the power the dreamers have to inspire a generation.</h2>
			</div>
		</div>
	</div>
	
</section>