<header class="row fullWidth site-header">

  <div class="wrapper">

    <!-- <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a> -->

    <nav class="site-nav">
      <div class="trigger large-offset-2 large-offset-right-2 large-6 columns">
        <a class="page-link" href="{{ site.baseurl }}/#home">HOME</a>
        <a class="page-link" href="{{ site.baseurl }}/#about">ABOUT</a>
        <a class="page-link" href="{{ site.baseurl }}/#team">TEAM</a>
        <a class="page-link" href="{{ site.baseurl }}/#team">STILLS</a>
        <a class="page-link" href="{{ site.baseurl }}/#contact">CONTACT</a>
        <!-- <a class="page-link" href="{{ site.baseurl }}/blog">BLOG</a> -->
      </div>
      <div class="large-2 columns">
        Social Shit
      </div>

    </nav>

  </div>

</header>
