<header class="row fullWidth site-header contain-to-grid">

  <div class="wrapper large-12 small-12 columns">

    <!-- <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a> -->

    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name"></li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>
      <div class="top-bar-section">  
        <ul>
          <li><a class="page-link" href="{{ site.baseurl }}/#home"><span>HOME</span></a></li>
          <li><a class="page-link" href="{{ site.baseurl }}/#about"><span>ABOUT</span></a></li>
          <li><a class="page-link" href="{{ site.baseurl }}/#trailer"><span>TRAILER</span></a></li>
          <li><a class="page-link" href="{{ site.baseurl }}/#team"><span>TEAM</span></a></li>
          <li><a class="page-link" href="{{ site.baseurl }}/#stills"><span>STILLS</span></a></li>
          <li><a class="page-link" href="{{ site.baseurl }}/#press"><span>PRESS</span></a></li>
          <li><a class="page-link soon" href="#" data-hover="Coming Soon"><span>CAMPAIGN</span></a></li>
          <li><a class="page-link" href="{{ site.baseurl }}/#contact"><span>CONTACT</span></a></li>
        </ul>
        <ul class="right">
          <div class="social_icons">
            <a href="https://twitter.com/meninthearena" target="_blank">
              <i class="social_icon fi-social-twitter"></i>
            </a>
            <a href="https://www.facebook.com/meninthearena" target="_blank">
              <i class="social_icon fi-social-facebook"></i>
            </a>
            <a href="https://www.instagram.com/meninthearena/" target="_blank">
              <i class="social_icon fi-social-instagram"></i>
            </a>
          </div>
        </ul>
      </div>
    </nav> 
  </div>
</header>
