<header class="row fullWidth site-header">

  <div class="wrapper large-10 columns">

    <!-- <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a> -->

    <nav class="site-nav large-10 columns">
      <div class="trigger">
        <a class="page-link" href="{{ site.baseurl }}/#home">HOME</a>
        <a class="page-link" href="{{ site.baseurl }}/#about">ABOUT</a>
        <a class="page-link" href="{{ site.baseurl }}/#trailer">TRAILER</a>
        <a class="page-link" href="{{ site.baseurl }}/#team">TEAM</a>
        <a class="page-link" href="{{ site.baseurl }}/#stills">STILLS</a>
        <a class="page-link" href="{{ site.baseurl }}/#press">PRESS</a>
        <a class="page-link soon" href="#" data-hover="Coming Soon">CAMPAIGN</a>
        <a class="page-link" href="{{ site.baseurl }}/#contact">CONTACT</a>
        <!-- <a class="page-link" href="{{ site.baseurl }}/blog">BLOG</a> -->
      </div>
    </nav>
  </div>
  <div class="large-2 columns social_icons">
    <a href="https://twitter.com/meninthearena" target="_blank">
      <i class="social_icon fi-social-twitter"></i>
    </a>
    <a href="https://www.facebook.com/meninthearena" target="_blank">
      <i class="social_icon fi-social-facebook"></i>
    </a>
    <a href="https://www.instagram.com/meninthearena/" target="_blank">
      <i class="social_icon fi-social-instagram"></i>
    </a>
  </div>
  

</header>
