<!-- Pagination links -->
<div class="pagination large-12 columns">
  {% if paginator.previous_page %}
    <a href="{{site.baseurl}}{{ paginator.previous_page_path }}" class="previous"><i class="fi-play"></i></a>
  {% else %}
    <span class="previous"><i class="fi-play"></i></span>
  {% endif %}
  <span class="page_number">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{site.baseurl}}{{ paginator.next_page_path }}" class="next"><i class="fi-play"></i></a>
  {% else %}
    <span class="next"><i class="fi-play"></i></span>
  {% endif %}
</div>