<section class="press row fullWidth">
	<a class="anchor" name="press"></a>
	<!-- <img class="bg" src="{{site.baseurl}}/assets/MITAhome.png" /> -->
	<div class="row">
		<div class="large-10 large-offset-1 columns">
			<h1>PRESS</h1>
		</div>
	</div>
	<div class="row">
		<div class="large-12 medium-12 columns">
			<ul class="large-block-grid-3">
			{% assign $limit = 6 %}
			{% assign $k = 1 %}
			{% for press in site.posts limit: $limit %}
				
				<li class="large-3 columns">
					<div>
						<a href="{{site.baseurl}}{{press.url}}">
							<h3 class="press_title">{{press.title}}</h3>
						</a>
						<span>{{press.date | date: "%b %-d, %Y"}}</span>
						<p>
							{{press.excerpt}} 
							<a href="{{site.baseurl}}{{press.url}}">
								<span class="read_more">READ MORE</span>
							</a>
						</p>
					</div>
				</li>
				{% assign $k = $k | plus: 1 %}
			{% endfor %}

			<!-- Filling out empty press slots so it doesn't align right -->
			{% if $k <= $limit %}
				{% for num in ($k...$limit) %}
					<li class="large-3 columns"></li>
				{% endfor %}
			{% endif %}

			</ul>
		</div>
		<div class="row more_press">
			<div class="large-10 large-offset-1 columns">
				<a href="{{site.baseurl}}/press/">
					<h3>MORE PRESS...</h3>
				</a>
			</div>
		</div>
	</div>
</section>