<section class="stills row fullWidth">
	<a class="anchor" name="stills"></a>
	<div class="row">
		<div class="large-10 large-offset-1 columns">
			<h1>STILLS</h1>
		</div>
	</div>
	<div class="large-12 columns gallery">
		{% assign $i = 1 %}
		{% for still in site.pages %}
			{% if still.type == "still" %}
				<div class="gallery_item">
					<a href="{{site.baseurl}}/assets/stills/{{still.image}}" data-lightbox="stills_collection" data-title="{{still.title}}">
						<img src="assets/stills/{{still.thumbnail}}" alt="{{still.title}}"/>
					</a>
				</div>
				
				{% assign $i = $i | plus: 1 %}
			{% endif %}
		{% endfor %}
	</div>
</section>