<section class="team row fullWidth">
	<a class="anchor" name="team"></a>
	<!-- <img class="bg" src="/assets/bg_team.jpg" /> -->
	<div class="row">
		<div class="large-10 large-offset-1 columns">
			<h1>TEAM</h1>
		</div>
	</div>
		{% assign $i = 1 %}
		{% for member in site.pages %}
			{% if member.type == "teammember" %}
				<div class="row team_member">
					<div class="large-3 large-offset-1 columns">
						<img class="headshot" src="{{site.baseurl}}/assets/headshots/{{member.headshot}}" />
					</div>
					<div class="large-7 end columns">
						<h3><em>{{member.title}}</em><br />
							{{member.fullname}}
						</h3>
						{% for paragraph in member.bio %}
							<p>{{paragraph}}</p>
						{% endfor %}
					</div>
				</div>
				{% assign $i = $i | plus: 1 %}
			{% endif %}
		{% endfor %}
</section>
