<section class="trailer row fullWidth">
	<a class="anchor" name="trailer"></a>
	<!-- <img class="bg" src="/assets/bg_about.png" /> -->
	<!-- <h1 class="page-heading">Home section</h1> -->
	<div class="row">
		<div class="large-10 large-offset-1 columns">
			<h1>TRAILER</h1>
		</div>
	</div>
	<div class="row">
		<div class="large-3 columns">
			<img class="bg" src="{{site.baseurl}}/assets/poster.png" />
		</div>
		<div class="large-9 columns embed">
			<!-- width was formerly 800 -->
			<iframe src="https://player.vimeo.com/video/134347898?byline=0&portrait=0" width="100%" height="450" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
	</div>
</section>