@font-face {
  font-family: 'Gotham-Bold';
  src: url("../assets/fonts/Gotham-Bold.eot");
  src: url("../assets/fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype"),
       url("../assets/fonts/Gotham-Bold.woff2") format('woff2'),
       url("../assets/fonts/Gotham-Bold.woff") format('woff'),
       url("../assets/fonts/Gotham-Bold.ttf") format('truetype'),
       url("../assets/fonts/Gotham-Bold.svg#Gotham-Bold") format('svg');
  font-weight: normal;
  font-style: normal;
}

/*h1, h2, h3, h4, p, .site-nav a {
    font-family: $base-font-family;
}*/

/**
 * Site header
 */

.contain-to-grid, .top-bar, .top-bar-section ul li, .top-bar-section ul li a {
    background: $background-color;
}

.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: $top_bar_height;
    position: fixed;
    top: 0;
    background-color: $background-color;
    z-index: 8000;

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;

    align-items: center;
    /*align-content: stretch;*/

    wrapper {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;

        -ms-flex-align: center;
        -webkit-align-items: center;
        -webkit-box-align: center;

        align-items: center;
    }

    .top-bar {
        text-align: center;

        .page-link {
            color: $text-color;
            line-height: $base-line-height;
            font-weight: bold;

            // Gaps between nav items, but not on the first one
            &:not(:first-child) {
                margin-left: 20px;
            }
        }

        .page-link.soon {
            cursor: default;
            color: gray;
            &:hover {
                font-size: 0px;
            }
            &:hover:before { 
                font-size: $base-font-size;
                content: attr(data-hover);
                color: red;
                -webkit-transition: content 500ms ease 1s;
                -moz-transition: content 500ms ease 1s;
                -o-transition: content 500ms ease 1s;
                transition: content 500ms ease 1s;
            }
        }

        /*@include media-query($on-palm) {
            position: absolute;
            top: 9px;
            right: 30px;
            background-color: $background-color;
            border: 1px solid $grey-color-light;
            border-radius: 5px;
            text-align: right;*/

           /* .menu-icon {
                display: block;
                float: right;
                width: 36px;
                height: 26px;
                line-height: 0;
                padding-top: 10px;
                text-align: left;

                > svg {
                    width: 18px;
                    height: 15px;

                    path {
                        fill: $grey-color-dark;
                    }
                }
            }*/

           /* .trigger {
                clear: both;
                display: none;
            }

            &:hover .trigger {
                display: block;
                padding-bottom: 5px;
            }

            .page-link {
                display: block;
                padding: 5px 10px;
            }
        }*/
    }

    // Positioning context for the mobile navigation icon
    /*position: relative;*/

    .social_icons {
        font-size: 24px;
        /*cursor: pointer;*/
        a {
            color: $text-color;
            &:hover {
                color: $hover-color;
            }
        }
    }
}

.toggle-topbar .toggle-topbar.menu-icon a span::after {
    left: 0;
}

.site-title {
    /*font-size: 26px;*/
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

/*.site-nav {*/
    /* line-height: 56px; */
    /*text-align: center;*/
    /*.menu-icon {
        display: none;
    }*/

   /* .page-link {
        color: $text-color;
        line-height: $base-line-height;
        font-weight: bold;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    .page-link.soon {
        cursor: default;
        color: gray;
        &:hover {
            font-size: 0px;
        }
        &:hover:before { 
            font-size: $base-font-size;
            content: attr(data-hover);
            color: red;
        }
    }*/

section {
    position: relative;
    /*padding: 15px 0px;*/
    /*border-bottom: 5px solid white;*/
    border-bottom: 2px solid gray;
    .anchor {
        /*top: $top_bar_height;*/
        position: absolute;
        top: -$top_bar_height;
    }

    h1 {
        font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    }
}

/**
 * Home
 */
/*.home {
    background: url("/assets/home_placeholder.png") top center no-repeat;
    background-size: cover;
} */



img.bg {
    width: 100%;
    /*position: absolute;*/
    /*top: $top_bar_height;*/
    left: 0;
}

section {
    h1, h2, h3 {
        color: $text-color;
    }
    h1 {
        padding: 30px 0px;
        text-align: center;
    }

    .row.sectionBody {
        margin: 100px 0px;
    }
}

.trailer {
    .row {
        text-align: center;
    }
    .embed {
        margin-bottom: 45px;
    }
}

.team {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/bg_team1.png") top center no-repeat;
    background-size: cover;

    .team_member {
        margin: 40px 0px;
    }

    .headshot {
        border: 1px solid white;
        display: block;
        /*margin: auto;*/
        margin: 15px auto;
        width: 250px;
        /*max-height: 600px;*/
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%); /* For Webkit browsers */
    }
}

.about {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/bg_about.png") top center no-repeat;
    background-size: cover;
    text-align: justify;

    display: flex;
    flex-direction: column;
    /*justify-content: space-around;*/
    h2 {
        margin: auto;
    }

    .synopsis {
        padding-top: 25px;
        /*height: 550px;*/
        display: flex;
        /*margin: 100px 0px;*/
        h2 {
            /*font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;*/
            font-size: 1.2rem;
        }
    }
    .quote, .byline {
        font-family: 'Arimo', 'sans-serif';
    }
    .byline {
        margin: 20px 0px;
        font-style: italic;
    }
}

.stills {
    .gallery {
        display: -webkit-box;       /*OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;          /*OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;      /* TWEENER - IE 10 */
        display: -webkit-flex;
        display: -moz-flex; 
        display: flex;

        flex-direction: row;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        /*-webkit-justify-content: space-around;
        -moz-justify-content: space-around; 
        -ms-justify-content: space-around;
        justify-content: space-around;
        -webkit-align-content: flex-start;
        -moz-align-content: flex-start; 
        -ms-align-content: flex-start;
        align-content: flex-start;
        -webkit-align-items: flex-start;
        -moz-align-items: flex-start; 
        -ms-align-items: flex-start;
        align-items: flex-start;*/

       /* a {
            display: block;
        }*/

        .gallery_item {
            width: 400px !important;
            max-height: 200px;
            overflow: hidden;
            margin: auto;
            margin-bottom: 15px;
        }
    }
}

.press h3, .press .read_more, .post h6 {
    color: white;
    &:hover {       
        transition: all 0.5s ease;
        color: $brand-color;
        cursor: pointer;
    }
}

.press {
    ul {
        list-style-type: none;
        li {
            div {
                padding: 20px;  
                h3.press_title {
                    border-bottom: 1px solid white;
                }
            }
        }
    }
    h3 {
        font-size: 18px;
    }
    .more_press {
        text-align: center;
    }
}

.press_page {
    margin-top: $top_bar_height;
    .pagination {
        text-align: center;
        .fi-play {
            font-size: 20px;
        }
        .previous .fi-play {
            &:before {
                -ms-transform: rotate(180deg); /* IE 9 */
                -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
                transform: rotate(180deg);
            }
        }
    }
}

.contact {
    text-align: center;
    .contact_form {
        padding: 35px;
        textarea {
            height: 265px;
        }
    }
}

.sent_message {
    font-size: 24px;
    text-align: center;
    padding-bottom: 35px;
}

/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    /*padding: $spacing-unit 0;*/
    padding: 10px;
    text-align: center;
    p {
        font-size: 11px;
        margin: 0px;
    }
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    margin-top: $top_bar_height;
    /* padding: $spacing-unit 0; */
}

.page-heading {
    font-size: 20px;
}

.post {
    h6 {
        color: white;
        font-size: 12px;
    }
    .linkout {
        color: $grey-color;
        font-style: italic;
    }

}

.press_page, .post {
    padding-top: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    /*font-size: 24px;*/
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
    h1 {
        color: $hover-color;
    }
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
